
/* Epilogue */
@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,800&display=swap");

/* DM Sans */
@font-face {
    font-family: "DM Sans";
    src: url("../fonts/DMSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "DM Sans";
    src: url("../fonts/DMSans-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  